<link rel="stylesheet" href="{{ 'product-card.scss.css' | asset_url }}">

<a href="{{ product.url }}">
    <div class="product-card">
        <div class="img-container">
            <img src="{{ product.featured_image | img_url: '600x600' }}" alt="{{ product.title }}">
        </div>
        <h4 class="name">{{ product.title }}</h4>
        <strong class="price">{{ product.price | money }}</strong>
    </div>
</a>