<div class="repair-parts-collections-container">
  {% for block in section.blocks %}
    <div class="repair-part-collection">
        <a href="{{ block.settings.collection.handle }}">
            <img src="{{ block.settings.collection.image | img_url }}" alt="{{ block.settings.collection.title }}" />
            <div class="d-flex flex-row justify-content-center align-items-center w-full">
                <p>{{ block.settings.collection.title }}</p>
                <img class="line-arrow" src="{{ 'line-arrow-right.svg' | file_url }}" alt="arrow right" />
            </div>
        </a>
    </div>
  {% endfor %}
</div>


{% schema %}
    {
        "blocks": [
            {
                "type": "collection",
                "name": "collection for page",
                "settings": [
                      {
                          "type": "collection",
                          "label": "Collection",
                          "id": "collection"
                      }
                  ]
            }
        ],
        "presets": [
            {
                "category": "collections",
                "name": "Sloan Repair Parts"
            }
        ]
    }
{% endschema %}