<link rel="stylesheet" href="{{ 'collection.scss.css' | asset_url }}">

<div id="collection-page">

    {% render 'breadcrumbs' %}

    <div class="lg-container">

        <div class="collection-container">
            <h1 class="collection-title">{{ collection.title }}</h1>
            <p class="collection-sub">Lorem ipsum dolor sit amet.</p>


            <div class="collection-wrapper d-flex flex-lg-row flex-column">
                <div class="collection-nav">

                    <div class="d-flex justify-content-between align-items-end">
                        <h2 class="collection-nav-title">Filters</h2>
                        <p class="clear-all">Clear all</p>
                    </div>

                    <hr />

                    <div class="collection-accordions">
                        <div class="accordion">

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="searchHeading">
                                    <button class="accordion-button collection-nav-title" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSearch" aria-expanded="true" aria-controls="collapseSearch">Search</button>
                                </h2>
                                <div id="collapseSearch" class="accordion-collapse collapse show" aria-labelledby="searchHeading" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="d-flex flex-row justify-content-between search-container">
                                            <div class="acc-list">
                                                <div class="d-flex flex-row">
                                                    <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                                                        <use href="#icon-search">
                                                    </use></svg>
                                                    <input type="text" placeholder="Keyword">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr />

                            <h2 class="collection-nav-title">Products</h2>

                            {% for link in linklists.main-menu.links %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading{{ forloop.index }}">
                                        <button class="accordion-button collection-filter-title" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.index }}" aria-expanded="true" aria-controls="collapse{{ forloop.index }}">{{ link.title }}</button>
                                    </h2>
                                    <div id="collapse{{ forloop.index }}" class="accordion-collapse collapse show" aria-labelledby="heading{{ forloop.index }}" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="d-flex flex-row justify-content-between">
                                                <div class="acc-list">
                                                    <ul>
                                                        <li>Royal</li>
                                                        <li>Regal</li>
                                                        <li>Gem</li>
                                                        <li>Crown</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="collection-right">
                    <div class="collection-right-top">

                        <div class="tags-container d-flex flex-row">
                            <div class="tag">Royal</div>
                            <div class="tag">Royal</div>
                        </div>

                        <div class="facet-filters sorting caption">
                            <div class="facet-filters__field d-flex flex-row">
                            <h2 class="facet-filters__label caption-large text-body">
                                <label for="SortBy">Sort by:</label>
                            </h2>
                            <div class="select"><select name="sort_by" class="facet-filters__sort select__select caption-large" id="SortBy" aria-describedby="a11y-refresh-page-message"><option value="manual">Featured</option><option value="best-selling" selected="selected">Best selling</option><option value="title-ascending">Alphabetically, A-Z</option><option value="title-descending">Alphabetically, Z-A</option><option value="price-ascending">Price, low to high</option><option value="price-descending">Price, high to low</option><option value="created-ascending">Date, old to new</option><option value="created-descending">Date, new to old</option></select>
                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"></path>
                                </svg>
                            </div>
                            </div>
            
                            <noscript>
                            <button type="submit" class="facets__button-no-js button button--secondary">Sort</button>
                            </noscript>
                        </div>
                    </div>

                    <div class="collection-products">
                        {% for product in collection.products %}
                            {% render 'product-card', name: product.title, price: product.price %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% capture img_link %}{{ 'home-email-banner.jpg' | file_url }}{% endcapture %}
        {% render 'email-banner' bg_img: img_link %}

    </div>

</div>
  